{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard | Facial Attendee</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="{% static 'Logo.png' %}" />
    <link
      href="{% static 'dashboard.css' %}"
      type="text/css"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-light bg-light mynav">
      <img class="att" src="{% static 'Capture.PNG' %}" alt="Smiley face" />
      <button type="submit" class="mybutton ">
        <strong>{{a}}</strong>
      </button>
    </nav>

    <div class="container">
      <div class="row myrow">
        <div class="col- mymenu">
          <p
            class="myfont1"
            style="font-size:5vh;color:#fFFFFf;text-align: left"
          >
            <strong>
              MAIN
            </strong>
          </p>
          <button type="submit" class="mybutton1 ">
            <strong> Dashboard </strong>
          </button>
          <p
            class="myfontx"
            style="font-size:3vh;color:#fFFFFf;text-align:left"
          >
            <strong>
              ATTENDANCE
            </strong>
          </p>
          
<!--           
          <form method="GET" action="{{e}}">
            <button type="submit" class="mybutton2 ">
              <strong> Add Sheet </strong>
            </button>
          </form> -->

          
          <button class="mybutton2" onclick="location.href='{{e}}'" type="button"><strong> Add Sheet </strong></button>

            <button type="submit" class="mybutton2 ">
                <strong> Notification </strong>
              </button>

        </div>

        <div class="col-md">
          <div class="outer">
            <p class="myfont1" style="font-size:7vh;color:#145082;">
              <strong>Summary</strong>
            </p>
            <div class="smallbox">
              <p class="myfont" style="font-size:6vh;color:#1ABE49;">
                <strong>{{b}}</strong>
              </p>
              <p class="myfont1" style="font-size:1.9vh;color:#145082;">
                <strong>Total Courses</strong>
              </p>
            </div>
            <div class="smallbox">
              <p class="myfont" style="font-size:6vh;color:#1ABE49;">
                <strong>{{c}}</strong>
              </p>
              <p class="myfont1" style="font-size:1.9vh;color:#145082;">
                <strong>Total Students</strong>
              </p>
            </div>
            <div class="smallbox">
              <p class="myfont" style="font-size:6vh;color:#1ABE49;">
                <strong>{{d}}</strong>
              </p>
              <p class="myfont1" style="font-size:1.9vh;color:#145082;">
                <strong>Total Sheets</strong>
              </p>
            </div>
          </div>
          <p class="myfont1" style="font-size:7vh;color:#145082;">
            <strong>Courses</strong>
          </p>
          <div class="box">
            <div
              class="chart-container"
              style="position: relative; height:30vh; width:30vh"
            >
              <canvas id="doughnutChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar fixed-bottom navbar-light bg-light mybottom">
      <p class="myfont1" style="font-size:3vh;color:#f9fbfc;text-align: center">
        <strong>
          Developed by
        </strong>
      </p>
    </nav>
  </body>

  <!-- Footer -->
  <footer class="page-footer font-small blue">
    <script src="{% static 'dashboard.js' %}"></script>
  </footer>
  <!-- Footer -->
</html>
