{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="{% static 'login.css' %}" type="text/css" rel="stylesheet" />
    <title>
      Sign In | Facial Attendee
    </title>
    <link rel="icon" type="image/png" href="{% static 'Logo.png' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-">
          <img
            class="mypic"
            src="{% static 'sideImage.png' %}"
            alt="Smiley face"
          />
        </div>
        <div class="col-sm">
          <form action="/apis/teacher/login/" method="POST" class="mybody">
            <div class="form-group">
              <img
                class="logo"
                src="{% static 'Logo.png' %}"
                alt="Smiley face"
              />
              <br />
              <img
                class="att"
                src="{% static 'Capture.PNG' %}"
                alt="Smiley face"
              />
              <br />
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
            <button type="submit" class="mybutton">
              <strong> SIGN IN</strong>
            </button>
            <div class="mytxt">
              Don't have an account?
              <a href="#" style="color: #1A4E9C"
                ><strong> Register your institute now!</strong></a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
